.rules {
  padding: 6rem 2rem 2rem;
  &Title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &Card {
    margin-bottom: 2rem;
    &Title {
      margin-bottom: 1rem;
    }
    &Note {
      display: block;
      margin-top: 1rem;
      font-size: 0.8rem;
      color: #666;
    }
  }
  ol {
    list-style-type: decimal;
    padding-left: 3rem;
    li {
      margin-bottom: 1rem;
      list-style: decimal;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 40em) {
  .rules {
    padding: 4rem 1rem 1rem;
  }
}
