.container {
  padding: 2rem;
}

.row {
  display: grid;
}

.table {
  display: flex;
  transition: background-color 0.2s;
  &:hover:not(:first-of-type) {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  &Col {
    flex: 1;
    padding: 1rem;
    &.head {
      font-size: 0.8125rem;
      font-weight: 500;
    }
  }
}
