.match {
  padding: 1rem !important;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  &.live {
    border-color: #ee0202;
  }
  &Toast {
    position: absolute;
    top: -3rem;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: #2fbe2f;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8125rem;
    color: #fff;
    &.shown {
      top: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  &Live {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &Block {
      display: block;
      width: 3.5rem;
      height: 1.5rem;
      background-color: #ee0202;
      border-radius: 0.5rem;
      text-align: right;
      font-size: 0.8125rem;
      font-weight: 500;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      span {
        width: 0.5rem;
        height: 0.5rem;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: blink 1.5s infinite;
      }
    }
  }
  &Wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
  }
  &Group {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #000;
  }
  &Date {
    font-size: 0.875rem;
    font-weight: 500;
    color: #000;
    &Divider {
      padding: 0 0.2rem;
    }
  }
  &Predict {
    display: flex;
    gap: 1rem;
    flex: 0 0 40%;
    &Live {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    &Predict {
      display: flex;
      gap: 1rem;
      flex: 0 0 40%;
      span {
        width: 100%;
        border: 0.0625em solid #e5e5e5;
        color: rgb(28, 28, 28);
        padding: 1em 0.875em;
        border-radius: 0.5em;
        text-align: center;
        font-weight: 600;
        font-size: 1.125rem;
        background-color: #e5e5e5;
      }
    }
    div > {
      input {
        text-align: center;
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
  }

  &Score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-weight: 500;
    &.live {
      > span {
        color: #ee0202;
      }
    }
    > span {
      font-size: 0.875rem;
    }
  }
  &Minute {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #ee0202;
    span {
      animation: blink 1s infinite;
    }
  }
  &Team {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    &Wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      flex: 0 0 30%;
    }
    &Logo {
      width: 3.5em;
      height: 3.5em;
    }
    &Name {
      font-size: 1rem;
      font-weight: 500;
      color: #000;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &Points {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &Reward {
      background-color: #555555;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &.success {
        background-color: #2fbe2f;
        color: #fff;
      }
      &.norm {
        background-color: #9b7f00;
        color: #fff;
      }
      &.bad {
        background-color: #ad6161;
        color: #fff;
      }
      > span {
        font-size: 0.8125rem;
        font-weight: 500;
      }
    }
  }
  &Predicts {
    padding: 0;
    transform: rotate(90deg);
    padding: 0.5rem;
  }
}

@media screen and (max-width: 48em) {
  .match {
    padding: 1rem 0.5rem;
    &Team {
      padding: 0;
      &Wrap {
        flex: 0 0 32%;
      }
      &Logo {
        width: 3em;
        height: 3em;
      }
      &Name {
        font-size: 0.875rem;
      }
    }
    &Predict {
      gap: 0.5rem;
      flex: 0 0 36%;
      div > {
        input {
          font-size: 1rem;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
