.user {
  padding: 6rem 2rem 2rem;
  &Form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &Button {
      width: auto;
    }
  }
}

.logout {
  padding: 1rem;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  &List {
    flex: 0 1 30%;
    max-width: 30%;
  }
  &Item {
    font-weight: 500;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 0.5rem;
    &:global(.react-tabs__tab--selected) {
      background-color: #f4f4f4;
    }
    &:hover {
      background-color: #f4f4f4;
    }
  }
  &Items {
    flex: 0 1 70%;
    max-width: 70%;
    padding: 0 2rem;
  }
  &Logout {
    padding: 1rem !important;
  }
}

.privacy {
  h1 {
    font-weight: 600;
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  h3 {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  p {
    margin-bottom: 1.25em;
  }
  ul {
    list-style-type: disc;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    padding-left: 1.625em;
  }
  li {
    padding-left: 0.375em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 48em) {
  .tabs {
    flex-direction: column;
    &List {
      flex: 0 1 100%;
      max-width: 100%;
      display: flex;
      width: 100%;
      overflow-x: auto;
      gap: 0.5rem;
      margin-bottom: 1rem;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &Item {
      margin: 0;
      white-space: nowrap;
      font-size: 0.8125rem;
      padding: 0;
      background-color: transparent;
      &:global(.react-tabs__tab--selected) {
        background-color: transparent;
        font-weight: 600;
      }
      &:hover {
        background-color: transparent;
      }
    }
    &Logout {
      padding: 0rem !important;
    }
    &Items {
      flex: 0 1 100%;
      max-width: 100%;
      padding: 0;
    }
  }
  .user {
    padding: 4rem 1rem 1rem;
    &Form {
      padding: 0rem;
    }
  }
}
