body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.Toastify {
  position: relative;
  z-index: 9999;
}
.Toastify__toast-container {
  width: auto;
  .Toastify__toast {
    min-height: unset;
    padding-right: 24px;
    padding-left: 24px;
  }

  .Toastify__toast-body {
    padding: 6px 0;
  }

  .Toastify__toast-icon {
    display: none;
  }

  .Toastify__close-button {
    margin-top: 4px;
    align-self: unset;
    margin-left: 20px;
    opacity: 1;
  }
}
