.home {
  padding: 2rem;
  &Row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
  }
  &Col {
  }
  &Tournament {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: auto;
      max-width: 15rem;
      height: 10rem;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 40em) {
  .home {
    padding: 2rem;
    &Row {
      grid-template-columns: initial;
    }
  }
}
